
    <%- include ('header') %>
    <div class="container">
        <a class="btn btn-secondary m-2" href="/logout">Logout</a>
        <div class="img-bg">
        <img src="images/hotel2.jpg" class="img-responsive" alt="hotel1">
        </div>                    
    </div>
        


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="js/owl.carousel.min.js"></script> -->
 </body>
 </html>
    